<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Метатеги, стили и скрипты могут быть добавлены здесь -->
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header>
        <h1>{% block header %}Welcome to My Site{% endblock %}</h1>
    </header>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; {% now "Y" %} My Site. All rights reserved.</p>
    </footer>

    <!-- Общие скрипты или элементы перед закрывающим тегом </body> могут быть добавлены здесь -->

</body>

</html>