{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Welcome, {{ user.username }}!</h2>
<p>This is your personalized home page.</p>
<div class="top-tags">
    <h2>Top Ten Tags</h2>
    <ul>
        <li><a href="/authors/john-doe/">John Doe</a></li>
        <li><a href="/authors/jane-smith/">Jane Smith</a></li>
        <li><a href="/authors/bob-jones/">Bob Jones</a></li>
        <!-- Добавьте остальных авторов по аналогии -->
    </ul>
</div>
<div class="quotes">
    <p>Current Page: {{ current_page.number }}</p>
    <ul>
        {% for quote in current_page.object_list %}
        <li>{{ quote.text }} - {{ quote.author.name }}</li>
        {% endfor %}
    </ul>
</div>

<!-- Кнопки "Previous" и "Next" для навигации по страницам -->
<div class="pagination">
    <span class="step-links">
        {% if current_page.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ current_page.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Страница {{ current_page.number }} из {{ current_page.paginator.num_pages }}.
        </span>

        {% if current_page.has_next %}
        <a href="?page={{ current_page.next_page_number }}">next</a>
        <a href="?page={{ current_page.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}